<footer class="w-[100%] h-[8vh]  flex  justify-end items-center bg-black opacity-80">
    <div class="flex justify-around w-[600px]">
        <p class="text-[20px] text-white">Terminos y condiciones</p>
        <p class="text-[20px] text-white">Politica de privacidad</p>
    </div>
</footer>
</section>
</body>
</html>